<div
  name="group-hikes-list"
  *ngIf="!selected && !editGroupHike && !addGroupHikeFormSelected"
>
  <br />
  <h1 name="groupHikesTitle">Group Hikes</h1>
  <div class="groupHikesTable">
    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Date</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr
          class="table-secondary"
          *ngFor="let groupHike of groupHikes"
          (click)="selected = groupHike"
          (click)="displayGroupHike(groupHike)"
        >
          <td *ngIf="!groupHike.hidden" class="groupHikeTableData">
            {{ groupHike.id }}
          </td>
          <td *ngIf="!groupHike.hidden" class="groupHikeTableData">
            {{ groupHike.eventName }}
          </td>
          <td *ngIf="!groupHike.hidden" class="groupHikeTableData">
            {{ groupHike.meetupDate }}
          </td>
          <td *ngIf="!groupHike.hidden" class="groupHikeTableData">
            {{ groupHike.user }}
          </td>
        </tr>
      </tbody>
    </table>
    <button (click)="addGroupHikeFormSelected = true">Create Group Hike</button>
    <br />
  </div>
</div>

<!-- Group Hike Display -->
<div
  class="groupHikeDisplay"
  *ngIf="selected && !addGroupHikeFormSelected && !editGroupHike"
>
  <h4>{{ selected.eventName }}</h4>
  <table id="groupHikeTableDisplay" class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Event Name</th>
        <th>Trail</th>
        <th>Meet Date</th>
        <th>Meet Time</th>
        <th>Members</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ selected.eventName }}</td>
        <td>{{ selected.trail }}</td>
        <td>{{ selected.meetupDate }}</td>
        <td>{{ selected.meetupTime }}</td>
        <td>
          <ul *ngFor="let user of selected.users">
            <li>{{ user.firstName }} {{ user.lastName }}</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="formButtons" (click)="selected = null">Back</button>
  <button class="formButtons" (click)="setEditGroupHike()">Update</button>
  <button
    class="formButtons"
    (click)="hideGroupHike(selected)"
    (click)="selected = null"
    (click)="selected.hidden = true"
  >
    Delete
  </button>
  <button class="formButtons" (click)="addUserToGroupHike(selected)">
    Join Group
  </button>

  <div class="groupHikeComments">
    <app-group-hike-comment [groupHike]="selected"></app-group-hike-comment>
  </div>
</div>

<!-- Add New GroupHike Form -->
<div class="addNewGroupHikeForm" *ngIf="!selected && addGroupHikeFormSelected">
  <h3>New GroupHike Form</h3>
  <form>
    <div>
      <label for="newEventName">Event Name:</label>
      <input
        type="text"
        name="newEventName"
        [(ngModel)]="newGroupHike.eventName"
      />
    </div>
    <div>
      <label for="newMeetupDate">Meetup Date:</label>
      <input
        type="date"
        name="newMeetupDate"
        [(ngModel)]="newGroupHike.meetupDate"
      />
    </div>
    <div>
      <label for="newMeetupTime">Meetup Time:</label>
      <input
        type="time"
        name="newMeetupTime"
        [(ngModel)]="newGroupHike.meetupTime"
      />
    </div>
    <!-- <div>
      <label for="newUser">Created By:</label>
      <input type="text" name="newUser" [(ngModel)]="newGroupHike.user" />
    </div> -->

    <div>
      <select name="trailDropdown" [(ngModel)]="newGroupHike.trail.id">
        <option value="{{ trail.id }}" *ngFor="let trail of trails">
          {{ trail.name }}
        </option>
      </select>
    </div>
    <div>
      <label for="newDescription">Description:</label>
      <input
        type="text"
        name="newDescription"
        [(ngModel)]="newGroupHike.description"
      />
    </div>
    <div>
      <label for="newImage">Image</label>
      <input type="text" name="newImage" [(ngModel)]="newGroupHike.imageUrl" />
    </div>
    <br />
    <!-- <input type="submit" (click)="addTournament(newTournament)"
      value="Submit"
      (click)="addTournamentFormSelected = false"
    /> -->
    <button
      class="formButtons"
      type="submit"
      (click)="createGroupHike(newGroupHike)"
      value="Submit"
    >
      Submit
    </button>
    <button
      class="formButtons"
      id="cancelButton"
      (click)="addGroupHikeFormSelected = false"
    >
      Cancel
    </button>
  </form>
</div>

<div class="updateGroupHikeForm" *ngIf="editGroupHike">
  <h3>Update Group Hike Form</h3>
  <form>
    <label for="editEventName">Event Name:</label>
    <input
      type="text"
      name="editEventName"
      [(ngModel)]="editGroupHike.eventName"
    />
    <label for="editMeetupDate">Meetup Date:</label>
    <input
      type="text"
      name="editMeetupDate"
      [(ngModel)]="editGroupHike.meetupDate"
    />
    <label for="editMeetupTime">Meetup Time:</label>
    <input
      type="text"
      name="editMeetupTime"
      [(ngModel)]="editGroupHike.meetupTime"
    />
    <label for="editDescription">Description:</label>
    <input
      type="text"
      name="editDescription"
      [(ngModel)]="editGroupHike.description"
    />
    <label for="editImage">Image:</label>
    <input type="text" name="editImage" [(ngModel)]="editGroupHike.imageUrl" />
    <br />
    <button
      class="formButtons"
      id="updateButton"
      type="submit"
      (click)="updateGroupHike(editGroupHike)"
      (click)="editGroupHike = null"
      value="Submit"
    >
      Submit
    </button>
    <button
      class="formButtons"
      id="cancelButton"
      (click)="editGroupHike = null"
    >
      Cancel
    </button>
  </form>
</div>
