<!-- List of all Trails -->
<div *ngIf="!selected && !addTrailFormSelected">
  <br />
  <button class="addTrailFormButton" (click)="addTrailFormSelected = true">
    Add a Trail
  </button>
  <table class="trail-table">
    <thead></thead>
    <tbody>
      <tr
        *ngFor="let trail of trails"
        (click)="
          [
            viewTrailDetails(trail.id),
            getHikeReportsForTrail(trail.id),
            getGroupHikesForTrail(trail.id)
          ]
        "
      >
        <div class="table-responsive">
          <div class="div-hover">
            <div class="table-body">
              <td>
                <img class="trailImage-sm" src="{{ trail.pictureUrl }}" />
              </td>
              <td>{{ trail.name }}</td>
              <td>{{ trail.lengthMiles }} Miles</td>
              <td>{{ trail.location }}</td>
              <td *ngIf="trail.difficulty != null">
                {{ trail.difficulty.name }}
              </td>
            </div>
          </div>
        </div>
      </tr>
    </tbody>
  </table>
</div>

<!-- Detail of trail -->
<div *ngIf="selected">
  <div class="card">
    <div class="card_left">
      <img src="{{ selected.pictureUrl }}" class="card_img" />
    </div>
    <div class="card_right">
      <h1 class="card_title">{{ selected.name }}</h1>
      <div class="card_right_details">
        <ul>
          <li>{{ selected.location }}</li>
          <li>{{ selected.lengthMiles }}</li>
          <li *ngIf="selected.difficulty">{{ selected.difficulty.name }}</li>
          <li *ngIf="selected.trailOpen">Trail is open</li>
          <li *ngIf="!selected.trailOpen">Trail is closed</li>
        </ul>
      </div>
      <div class="full" id="map"></div>
    </div>
  </div>
  <button (click)="addFormReportSelected = true">Create Hike Report</button>
  <br/>

  <!-- Comments of Trail -->
  <div>
    <table class="trail-table">
      <thead></thead>
      <tbody>
        <div class="table-body">
          <tr *ngFor="let comment of selected.comments">
            <td *ngIf="comment.user && comment.user.profilePicture">
              <img src="{{ comment.user.profilePicture }}" />
            </td>
            <td *ngIf="comment.user">{{ comment.user.username }}</td>
            <td>{{ comment.commentBody }}</td>
          </tr>
        </div>
      </tbody>
    </table>
    <button *ngIf="!leaveAComment" (click)="leaveAComment = true">
      Leave a comment
    </button>
    <div *ngIf="leaveAComment">
      <br />
      <form>
        <input
          type="text"
          name="commentBody"
          [(ngModel)]="newTrailComment.commentBody"
        />
        <button *ngIf="leaveAComment" (click)="leaveAComment = false">
          Cancel
        </button>
        <input
          type="submit"
          (click)="
            [
              createTrailComment(newTrailComment, selected),
              (leaveAComment = false)
            ]
          "
        />
      </form>
    </div>
  </div>

  <div>
    <table>
      <thead></thead>
      <tbody>
        <div>
          <tr *ngFor="let hikeReport of selectedTrailHikeReports">
            <td></td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
  <button (click)="selected = null">Back</button>
</div>

<!-- Create Trail Form -->
<div *ngIf="!selected && addTrailFormSelected">
  <form>
    <label for="name">Trail Name:</label>
    <input type="text" name="name" [(ngModel)]="newTrail.name" />
    <br />
    <label for="location">Location:</label>
    <input type="text" name="location" [(ngModel)]="newTrail.location" />
    <br />
    <label for="lengthMiles">Length in Miles:</label>
    <input
      type="number"
      name="lengthMiles"
      [(ngModel)]="newTrail.lengthMiles"
    />
    <br />
    <label for="">Difficulty:</label>
    <select name="difficulty" [(ngModel)]="newTrail.difficulty">
      <option *ngFor="let difficulty of difficulties" [ngValue]="difficulty">
        {{ difficulty.name }}
      </option>
    </select>
    <br />
    <label for="latitude">Latitude:</label>
    <input type="number" name="latitude" [(ngModel)]="newTrail.latitude" />
    <br />
    <label for="longitude">Longitude:</label>
    <input type="number" name="longitude" [(ngModel)]="newTrail.longitude" />
    <br />
    <button (click)="addTrailFormSelected = false">Cancel</button>
    <input
      type="submit"
      (click)="[addTrail(newTrail), (addTrailFormSelected = false)]"
    />
  </form>
</div>

<!-- Add Hike Report -->
<div id="addReport" *ngIf="addFormReportSelected">
  <h3>Add New Hike Report</h3>
  <form>
    <label for="title">Hike Title: </label>
    <input
      type="text"
      name="title"
      placeholder="Title"
      [(ngModel)]="newReport.hikeTitle"
    /><br />
    <label for="report">Report Information: </label>
    <input
      type="text"
      name="report"
      placeholder="Info about hike"
      [(ngModel)]="newReport.report"
    /><br />
    <label for="condition">Condition Type:</label>
    <select name="condition" [(ngModel)]="newReport.condition.id">
      <option value="{{ con.id }}" *ngFor="let con of condition">
        {{ con.name | titlecase }}
      </option></select
    ><br />
    <label for="`dateCreated">Reporting Date: </label>
    <input
      type="datetime-local"
      name="dateCreated"
      [(ngModel)]="newReport.dateCreated"
    /><br />
    <label for="hikedDate">Date Hiked On:</label>
    <input
      type="date"
      name="hikedDate"
      [(ngModel)]="newReport.hikedDate"
    /><br />
    <label for="rating">Rating of Hike: </label>
    <input type="number" name="rating" [(ngModel)]="newReport.rating" /><br />
    <input
      (click)="addReport(newReport); addFormReportSelected = false"
      type="submit"
    />
  </form>
</div>
