/* List of Trails CSS */
.table-responsive {
  margin: 30px, 30px;
  padding-top: 30px;
  overflow-x: auto;
}

.table-body {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.div-hover div:hover {
  background: #65ad05;
}

table.trail-table tr th,
table.trail-table tr td {
  text-align: left;
  border-color: #e9e9e9;
  color: white;
  padding: 12px 15px;
  font-size: 20px;
  vertical-align: middle;
}

table.trail-table {
  width: 80%;
}

.trailImage-sm {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

/* Trail Detail CSS */

.addTrailFormButton {
  margin-left: 30px;
}

.full {
  width:100%;
  height:70%;
  border-bottom-right-radius: 10px;
  position:relative;
}

.card {
  width: 1000px;
  height: 400px;
  background: transparent;
  position: static;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px;
  color: rgba(0, 0, 0, 0.55);
  display: inherit;
}

.card_left {
  width: 40%;
  height: 100%;
  float: left;
  overflow: hidden;
}

.card_img {
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  position: static;
}

.card_right {
  width: 60%;
  height: 400px;
  float: left;
  background: #000000;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  position: static;
}

.card_title {
  color: white;
  font-family: "Montserrat",sans-serif;
  font-weight: 400;
  display: inline-block;
  text-align:inherit;
  font-size: 40px;
  margin: 15px 0 0 0;
  padding: 0 0 0 40px;
  letter-spacing: 1px;
}

.card_right_details ul {
  height: 10%;
  list-style-type: none;
  padding: 0 0 0 40px;
  margin: 10px 0 0 0;
}

.card_right_details li {
  height: 10%;
  display: inline;
  color: #e3e3e3;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  padding: 0 40px 0 0;
}

/* Comments CSS */

.table-title {
	padding-bottom: 5px;
	background: rgba(0, 0, 0, 1);
	color: #fff;
	padding: 10px 30px;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
	text-align: left;
}

.table-responsive {
	margin: 30px, 30px;
	padding-top: 30px;
  overflow-x: auto;
}
