<div *ngIf="!selected">
<table>
  <thead>
  </thead>
  <tbody>
    <tr *ngFor="let trail of trails" (click)='viewTrailDetails(trail.id)'>
      <td>{{ trail.name }}</td>
      <td><img src={{trail.pictureUrl}} style = "width:200px; height:300px" ></td>
      <td>{{ trail.lengthMiles }}</td>
      <td>{{trail.location}}</td>
      <td *ngIf="trail.difficulty != null">{{ trail.difficulty.name }}</td>
    </tr>
  </tbody>
</table>
</div>
<div *ngIf="selected">
  <div>
  <p>{{selected.name}}</p>
  <img [src]="selected.pictureUrl">
  <p>{{selected.location}}</p>
  <p>{{selected.difficulty.name}}</p>
  </div>
  <div>
    <table>
      <thead></thead>
      <tbody>
        <tr *ngFor="let comment of selected.comments">
          <td>{{comment.commentBody}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <button (click)="selected = null">Back</button>
</div>
