<div id="hikeReportPhoto" *ngIf="!selected">
<table>
  <thead>
    <tr>
      <th>Report Title</th>
      <th> Scenic View</th>
      <!-- <th>Hike Report</th> -->
      <!-- <th>Description</th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let photo of photoCollection" >
      <td class="HikePhotoDataTable">{{photo.title}}</td>
      <td class="HikePhotoDataTable"><img class="photoImage-sm" src="{{photo.imageUrl}}"></td>
      <!-- <td class="HikePhotoDataTable">{{photo.}}</td>
      <td class="HikePhotoDataTable">{{photo.}}</td> -->
    </tr>
  </tbody>
</table>
</div>
<div id="SinglePhoto" *ngIf="selected">
<ul>
  <li>Photo Id: {{selected.id}}</li>
  <li>{{selected.title}}</li>
  <li> <img [src]="selected.imageUrl"></li>
</ul>
</div>
