/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
body{
  background-color: rgb(60, 116, 70);
  color: rgb(90, 7, 7);
  width: 100%;
  margin: 0;
  top: 0;
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
  position: relative;
  height: 100vh;

}
