<h1>About HoneyComb Hearts</h1>
<p>
  The main focus of our project was to create a web page that will help you
  locate trails around the world & provide users with a mini social platform enabling users to chat<br> & post pictures about the trail & hike that users have taken!
</p>

<p>This project is brought to you by:</p>
<ul>
  <li>Daniel Faulkner, from Colorado!</li>
  <li>Ryan Majors, from Colorado!</li>
  <li>Chris Lee, from Colorado!</li>
  <li>And, Ebony Johnson, from South Carolina!</li>
</ul>
